body
{
    background-color: #f6f6f6;
    margin: 0px;
}
.displayContactsDiv
{
    width:100%;
}
.contactButton
{
    height: 50px;
    background-color: white;
    color: black;
    width:100%;
    border:none
}
.contactButton:hover
{
    background-color: #fed8b1 ;
}
.contactButton:focus
{
    background-color: orange;
    outline: none;
}
.contactsTable
{
    width: 100%;
    border:black;

}
.displayContactsth
{
    padding-left: 6px;
    height:40px;
}
img
{
    border-radius: 50%;
    width:40px;
    height: 40px;
    vertical-align: middle;

}
.flexcontainer
{
    display: flex;
    flex-direction: row;
    height:100%;
    width:100%;
    align-items: center;
    text-align: left;
    border: none;
    padding-left: 15px;
}
    
.flexcontainer>div1
{
    width: 100px;
    align-content: center;
}

.flexcontainer>div2
{
    width: 200px
}
.flexcontainer>div3
{
    width:200px
}
.flexcontainer>div4
{
    width:200px
}
.flexcontainer>div5
{
    width:200px
}
.flexcontainer>div6
{
    width:200px
}
.AddContactsImg
{
    position: absolute;
    right:20px;
    bottom:20px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: orange;
}
.AddContactsImg:hover
{
    opacity: 100%;
    transform: scale(1.3);
}

.AddContactsImg:focus
{
    outline:none;
}